extend ./src/pug/__template.pug
block mainContent
  section.about-me 
    .about-me__photo: img(src='src/images/porfile.jpeg')
    .about-me__description I’m Miguel de la Rosa, often known as ‘devacran’, Fullstack Developer
    .about-me__text=porfile__text
  .about-me__title#about about me

      
