@import './__global.styl'

$primaryFont = 'Roboto'
$secondaryFont ='Prompt'

$primaryColor = #E5E4C0
$secondaryColor = #96946E
$lightColor = #EFEFEF
$darkColor = #171717

$text-content = #848484
$navbarHeight = 60px


TextContent()
  color: $text-content
  font-size: 18px
  font-weight: 400

SubTitle($color)
  margin-bottom: 1em
  font-size: 28px
  font-family: $primaryFont
  if $color == '1'
    color: $primaryColor
  if $color == '2'
    color: $darkColor

PageMargin()
  padding: 0 15px

SectionMargin()
  padding-top: $navbarHeight

.expandHeight
    animation: expandHeight 1s forwards
    clip-path: inset(100% 0px)
    opacity: 0

@keyframes expandHeight{
  to{
    clip-path: inset(0px 0px)
    opacity: 100
  }
}

mobileWidth = 320px
mobilePotraitWidth = 636px
tabletWidth = 720px
tabletPotraitWidth = 840px
deskWidth = 1000px

mqMobile = "only screen and (min-width: " + mobileWidth + ")"
mqTablet     = "only screen and (min-width: " + tabletWidth + ")"
mqDesk     = "only screen and (min-width: " + deskWidth + ")"
mqTabletPotrait = "only screen and (min-width: " + tabletPotraitWidth + ")"
mqMobilePotrait = "only screen and (max-width: " + mobilePotraitWidth + ")"



Title($color)
  margin-bottom: 1em
  text-align: center
  font-size: 36px
  font-family: $secondaryFont
  if $color == '1'
    color: $primaryColor
  if $color == '2'
    color: $darkColor

body
  margin: 0 auto
  color: $text-content
  background-color: $darkColor
  font-family: $primaryFont

ul
  display: flex
  list-style: none
  padding: 0
a
  color: $primaryColor
  text-decoration: none
  cursor: pointer
nav
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $darkColor
  position: fixed;
  z-index: 1;

main
  max-width: 1080px
  margin: 0 auto

.navbar
  @media mqTablet
    grid-template-columns: 1fr 2fr 1fr
  display: grid
  grid-template-columns: 1fr 1fr
  height: $navbarHeight
  PageMargin()
  width: 100%;
  max-width: 1080px;
  background-color: $darkColor
  color: $primaryColor
  box-sizing: border-box
  z-index: 4
  ul
    align-items: center
    margin: 0
  &--side
    @media mqTablet
      display: none
    background-color: $darkColor
    position: fixed
    left: calc(100vw - 100px)
    top: 50px
    z-index: -1
    width: 70px
    height: 100vh
    box-sizing: content-box
    ul
      display: block
      text-align: end;
      margin: 0;
      li
        margin: 1em 0
  &__left
    justify-content: flex-start
    li:last-child
      margin-left: 1em
    img
      width: 40px
  &__right
    justify-content: flex-end
    a:first-child
      display: none
      @media mqTablet
        display: block
        img
          width: 30px
    a:last-child
      @media mqTablet
        display: none
  &__center
    display: none
    justify-content: space-evenly
    @media mqTablet
      display: flex



.right-border
  height: auto
  width: 3px
  margin-right: 0.5em
  background-color: $primaryColor

.main-section
  PageMargin()
  SectionMargin()
  background-color: $darkColor
  color: $primaryColor
  height: 100vh

.hero
  SubTitle(1)
  margin: 30vh 0
  p
    margin-top: 0
    margin-bottom: 0.5em
  p:last-child
    TextContent()
    margin-bottom: 0
  &__container
    display: flex

.section-title
  Title(1)
  &--dark
    color: $darkColor
.section-subtitle
  SubTitle(1)
  font-weight: 900
  span:first-child
    display: inline-block
    float: left
    width: 45%
    margin-top: 0.5em
    border-bottom: 2px solid $primaryColor
  span:last-child
    display: block
    text-align: right
    TextContent()
    font-size: 18px

  &--dark
    color: $darkColor
.portfolio
  PageMargin()
  SectionMargin()
  background-color: $lightColor
  position: relative
  overflow: hidden
  height: "calc(100vh - %s)" %($navbarHeight)
  min-height: 600px
  &__proyect-title
    SubTitle(2)
    text-align: center
  &__project-description
    position: absolute;
    text-align: center;
    bottom: -40px
    right: 0
    left: 0
  &__button
    padding: 0 5px;
    border: none
    background: none
    cursor: pointer;
    &:focus
      outline: none
//carousel para imagenes de 5:3
$carouselHeight = 100vw * 0.7
$carouselContainerHeight = $carouselHeight * 0.6 //modificar el alto de la imagen
.carousel
  top: 200px
  left: 0
  right: 0
  position: absolute
  &__overlay
    position: absolute;
    width: 2000px
    left: -1000px
    right: 0
    bottom: 0
    top: 0
    background-color: rgba(21, 21, 21, 0.64)
    z-index: 2
  &__central
    margin: auto;
    height: $carouselHeight
    clip-path: inset(0 11vw) //modificar el ancho de la imagen
    @media mqMobile
      max-height: 400px
      max-width: 572px
    @media mqDesk
      clip-path: inset(0 57px)

  &__strip
    display: flex
    height: 100%
    width: fit-content
    position: relative;
    transition: 1s
    div
      height: 100%
      width: $carouselHeight * 1.15
      max-width: 400px * 1.15
      margin: 0 auto
      img
        width: 100%
        height: -webkit-fill-available
        object-fit: fill
  &__container
    @media mqTablet
      max-width: 572px;
    width: fit-content
    height: $carouselContainerHeight
    max-height: 400px
    position: absolute;
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto
    z-index: 0

.carousel__strip-big
  @media mqDesk
    left: -404px
  left: -71%; //para centrar la tira de imagenes

.carousel__strip-small
  @media mqTablet
    left: -100px
  @media mqDesk
    left: -404px
  left: 0 //Para centrar el strip pequeño
  div
    width: $carouselContainerHeight * 1.2
.skills
  PageMargin()
  SectionMargin()
  height: "calc(100vh - %s)" %($navbarHeight) //anota esto porque no lo sabia
  min-height: 700px
  max-width: 1080px
  margin: 0 auto
  background-color: $darkColor
  &__icons
    display: grid
    grid-template-columns: repeat(3, 1fr)
    @media mqTablet
      grid-template-columns: repeat(4, 1fr)
    margin-top: 80px
    text-align: center
    img
      width: 60px
    span
      display: block
      margin: 1em 0

.about-me
  display: grid
  grid-template-columns: 1fr 2fr 50px
  grid-template-rows: 360px
  grid-gap: 0.5em
  // margin-top: $navbarHeight
  height: 100vh
  min-height: 600px
  background-color: $darkColor
  position: relative
  &__photo
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__description
    SubTitle(1)
    font-weight: 100
    margin: auto 0
    text-align: right
  &__text
    TextContent()
    margin: 1em 1em
    grid-column-start: 1
    grid-column-end: 4
  &__title
    position: absolute
    right: 0
    top: 0px
    height: 50px
    Title(1)
    margin: 0
    padding: 0 70px;
    transform-origin: 100% 100%
    transform: rotateZ(-90deg)

.footer
  @media mqTablet
    height: auto
    min-height: initial
    padding-bottom: 1em
    text-align: initial
  background-color: $lightColor
  height: 100vh
  min-height: 600px
  &__grid
    display: flex
    flex-direction: column
    @media mqTablet
      display: grid
      grid-template-columns: 1fr
      grid-template-columns: 2fr 1fr
      height: 100%
    max-width: 800px
    PageMargin()
    SectionMargin()
    margin: 0 auto
    text-align: center
  &__item-1
    @media mqTablet
      text-align: left
  &__item-3
    SubTitle(2)
    color: $secondaryColor
    @media mqTablet
      text-align: left
  &__item-2
    TextContent()
    margin: 10vh 0 30vh 0
    span:last-child
      display: block
      margin: 1em
    @media mqTablet
      margin: 0
