@import './__global'
@import './components/__carousel'


.navbar
  @media mqTablet
    grid-template-columns: 1fr 2fr 1fr
  display: grid
  grid-template-columns: 1fr 1fr
  height: $navbarHeight
  PageMargin()
  width: 100%;
  max-width: 1080px;
  background-color: $darkColor
  color: $primaryColor
  box-sizing: border-box
  z-index: 4
  ul
    align-items: center
    margin: 0
  &--side
    @media mqTablet
      display: none
    background-color: $darkColor
    position: fixed
    left: calc(100vw - 100px)
    top: 50px
    z-index: -1
    width: 70px
    height: 100vh
    box-sizing: content-box
    ul
      display: block
      text-align: end;
      margin: 0;
      li
        margin: 1em 0
  &__left
    justify-content: flex-start
    li:last-child
      margin-left: 1em
    img
      width: 40px
  &__right
    justify-content: flex-end
    a:first-child
      display: none
      @media mqTablet
        display: block
        img
          width: 30px
    a:last-child
      @media mqTablet
        display: none
  &__center
    display: none
    justify-content: space-evenly
    @media mqTablet
      display: flex
    li:last-child
      @media mqTablet
        display: none

.main-section
  PageMargin()
  SectionMargin()
  background-color: $darkColor
  color: $primaryColor
  height: 100vh

.hero
  SubTitle(1)
  margin: 30vh 0
  p
    margin-top: 0
    margin-bottom: 0.5em
  p:last-child
    TextContent()
    margin-bottom: 0
  &__container
    display: flex



.portfolio
  PageMargin()
  SectionMargin()
  background-color: $lightColor
  position: relative
  overflow: hidden
  height: "calc(100vh - %s)" %($navbarHeight)
  min-height: 600px
  &__proyect-title
    SubTitle(2)
    text-align: center
  &__project-description
    @media mqTablet
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 572px;
      margin: 0 auto;
      opacity: 0
      top: 0
      transition: 0.3s
      z-index: 1
      &:hover
        cursor: pointer;
        opacity: 1
        color: black
        font-weight: 700;
    position: absolute;
    text-align: center;
    bottom: -50px
    right: 0
    left: 0
  &__button
    position: absolute;
    top: 43%
    padding: 0 5px;
    border: none
    background: none
    cursor: pointer;
    opacity: 0.5
    z-index: 1
    &:focus
      outline: none
    &--left
      left: -10px
    &--right
      right: -10px
    img
      width: 50px


.skills
  PageMargin()
  SectionMargin()
  height: "calc(100vh - %s)" %($navbarHeight) //anota esto porque no lo sabia
  min-height: 700px
  max-width: 1080px
  margin: 0 auto
  background-color: $darkColor
  &__icons
    display: grid
    grid-template-columns: repeat(3, 1fr)
    @media mqTablet
      grid-template-columns: repeat(4, 1fr)
    margin-top: 80px
    text-align: center
    img
      width: 60px
    span
      display: block
      margin: 1em 0

.about-me
  display: grid
  grid-template-columns: 1fr 2fr 50px
  grid-template-rows: 360px
  grid-gap: 0.5em
  // margin-top: $navbarHeight
  height: 100vh
  min-height: 600px
  background-color: $darkColor
  position: relative
  &__photo
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__description
    SubTitle(1)
    font-weight: 100
    margin: auto 0
    text-align: right
  &__text-container
    TextContent()
    margin: 1em 1em
    grid-column-start: 1
    grid-column-end: 4
    @media mqTablet
      display: flex
  &__text
    margin-bottom: 2em
    @media mqTablet
      width: 60%
  &__social
    display: flex;
    align-items: center;
    margin: auto;
    text-align: center;
    span
      display: block;
    div:last-child
      margin-left: 1em
  &__title
    position: absolute
    right: 0
    top: 0px
    height: 55px
    Title(1)
    margin: 0
    padding: 0 70px;
    transform-origin: 100% 100%
    transform: rotateZ(-90deg)

.footer
  @media mqTablet
    height: auto
    min-height: initial
    padding-bottom: 1em
    text-align: initial
  background-color: $lightColor
  height: 100vh
  min-height: 600px
  &__grid
    display: flex
    flex-direction: column
    @media mqTablet
      display: grid
      grid-template-columns: 1fr
      grid-template-columns: 2fr 1fr
      height: 100%
    max-width: 800px
    PageMargin()
    SectionMargin()
    margin: 0 auto
    text-align: center
  &__item-1
    @media mqTablet
      text-align: left
  &__item-3
    SubTitle(2)
    color: $secondaryColor
    @media mqTablet
      text-align: left
  &__item-2
    TextContent()
    margin: 10vh 0 30vh 0
    span:last-child
      display: block
      margin: 1em
    @media mqTablet
      margin: 0
