@import './__global'
@import './components/__carousel'


.navbar
  @media mqTablet
    grid-template-columns: 1fr 2fr 1fr
  display: grid
  grid-template-columns: 1fr 1fr
  height: $navbarHeight
  PageMargin()
  width: 100%;
  background-color: $darkColor
  color: $primaryColor
  box-sizing: border-box
  z-index: 8
  opacity: 0
  transform: translateY(-60px);
  transition: all 0.2s ease-in-out
  ul
    align-items: center
    margin: 0
  &--show
    opacity: 1
    transform: translateY(0px);
  &--side
    @media mqTablet
      display: none
    background-color: $darkColor
    position: fixed
    left: calc(100vw - 100px)
    top: 50px
    z-index: -1
    width: 70px
    height: 100vh
    box-sizing: content-box
    ul
      display: block
      text-align: end;
      margin: 0;
      li
        margin: 1em 0
  &__left
    justify-content: flex-start
    li:last-child
      margin-left: 1em
    img
      width: 40px
  &__right
    justify-content: flex-end
    a:first-child
      display: none
      @media mqTablet
        display: block
        img
          width: 30px
    a:last-child
      @media mqTablet
        display: none
  &__center
    display: none
    justify-content: space-between
    @media mqTablet
      display: flex
    li:last-child
      @media mqTablet
        display: none


.main-section
  PageMargin()
  SectionMargin()
  margin: 0;
  padding: 0 6.944vw 3.333vw;
  background-color: $darkColor
  color: $primaryColor
  height: 100vh
  h2
    text-align: left;

.hero
  SubTitle(1)
  height: "calc(100% - %s)" %($navbarHeight)
  display: flex;
  align-items: center;
  @media mqDesk
    position: fixed;
  p
    margin-top: 0
    margin-bottom: 0.5em
  p:last-child
    TextContent()
    margin-bottom: 0
  h1
    @media mqDesk
      font-size: 10.4vw
    margin: 50px 0
    font-size: 18.7vw
    line-height: 0.7;
    color: #202121;
    font-family: 'Oswald'
  &__container
    transition: all 0.2s ease-in-out
  &__name
    line-height: 1.2em
  &__buttons
    span
      margin-right: 1em
    img
      width: 50px
.miguel
  font-family: $specialFont
  color: $primaryColor
.delarosa
  $specialFont
  color: $primaryColor
  @media mqDesk
    font-size: 10.4vw
  font-size: 18.7vw
  font-weight: 600;

.portfolio
  SectionMargin()
  background-color: $lightColor
  position: relative;
  h1
    font-family: $primaryFont
.project
  PageMargin()
  max-width: 1080px
  margin: 0 auto
  height: 100vh
  h2
    margin-top: 0
    margin-bottom: 10px
    font-size: 10vw
    text-align: center;
    font-family: $primaryFont
    color: $lightColor;
    @media mqTablet
      font-size: 5vw
      text-align: left;
  &__container
    display: grid;
    grid-template-columns: 1fr
    @media mqDesk
      grid-template-columns: 1fr 1fr
    height: 100%;
  &__button
    font-size: 18px;
    text-align: center;
    display: block;
    margin-top: 20px
    color: $lightColor
    line-height: 2.4em;
    box-sizing: border-box;
  &__left-wrap
    display: grid;
    place-items: center;
    @media mqTablet
      display: block
  &__left
    height: 100%
    display: flex;
    align-items: center;
  &__description
    TextContent()
    color: $lightColor
    text-align: center;
    @media mqTablet
      width: 70%
      text-align: left;
  &__right
    display: flex;
    justify-content: center
    height: 100%
  &__logo
    width: 200px
    margin-bottom: 50px
    img
      width: 100%
  &__image
    display: none
    @media mqDesk
      display: block;
    width: 300px
    img
      width: 100%
      height: 100%
.unu
  background-color: #f57569

.dailysun
  background-image: linear-gradient(45deg,#56cad5,#247ad4)

.project-container
  width: 100%;
  height: auto;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  &--sticky
    position: sticky;
    top: 0;
.project-grid
  height: auto;
  padding: 60px 0;
  background-color: $lightColor
  &__seemore
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
    color: $darkColor;
    margin-top: 1em;
    .project__button
      margin-top: 0;
    button
      width: 8em;
      background-color: $darkColor
      margin-left: 1em;
  &__container
    @media mqTablet
      grid-template-columns: 1fr 1fr
      grid-auto-rows: 30vw
    @media mqDesk
      grid-template-columns: 1fr 1fr 1fr
      grid-auto-rows: 20vw
    padding: 0 5vw;
    display: grid;
    grid-template-columns: 1fr
    grid-auto-rows: 60vw
    grid-gap: 20px;
.project-card
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  padding: 10%;
  color: $darkColor;
  img
    width: 100%;
    height: 100%;
    object-fit: cover;
  &:hover
    .project-card__overlay
      animation: expandOut 0.3s forwards
    figcaption
      opacity: 1
  figcaption
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    opacity: 0;
    transition: 0.2s
  &__header
    & div:nth-child(1)
      font-size: 35px;
      font-weight: bold;
    & div:nth-child(2)
      font-size: 25px;
  &__button
    display: block;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    line-height: 2.4em;
    color: $darkColor;
    border-color: $darkColor;
    cursor: pointer;
  &__overlay
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    background-color: $text-color;
    opacity: 1;

.skills
  SectionMargin()
  PageMargin()
  position: relative;
  min-height: 700px
  margin: 0 auto
  background-color: $darkColor
  border: 1px solid transparent
  text-align: center;
  h2
    color: $text-content
    @media mqDesk
      font-size: 2vw;

  &__wrap
    max-width: 1080px
    margin: 0 auto
  &__icons
    display: grid
    grid-template-columns: repeat(3, 1fr)
    @media mqTablet
      grid-template-columns: repeat(6, 1fr)
    margin: 80px 0px
    text-align: center
    img
      width: 60px
    span
      display: block
      margin: 1em 0


.about-me
  background-color: $darkColor
  border: 1px solid transparent
  &__container
    display: grid;
    grid-template-columns: 1fr
    grid-template-areas: 'bigText' 'bio' 'buttons'
    @media mqTablet
      grid-gap: 30px;
      grid-template-columns: 1fr 1fr
      grid-template-rows: 21vw 17vw auto
      grid-template-areas: 'photo bigText''photo buttons''bio bio'
      padding: 10vw
      margin-top: 0
  &__photo
    position: fixed;
    grid-area: photo
    width: 100%
    top: 0;
    left: 0;
    overflow: hidden;
    @media mqTablet
      position: static;
  &__photo-wrap
    transform: scale(1.2);
    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 0px -40px
      @media mqTablet
        object-position: 0px -100px
  &__photo-overlay
    display: block
    @media mqDesk
      display: none;
    position: absolute;
    top: 0
    bottom: 0
    right: 0
    left: 0
  &__bigText
    position: relative;
    font-size: 11vw
    padding-top: 500px
    background: rgb(23,23,23);
    background: linear-gradient(0deg, rgba(23,23,23,1) 0%, rgba(23,23,23,0.7469362745098039) 27%, rgba(23,23,23,0) 41%);
    @media mqTablet
      padding-top: 0
      font-size: 5vw
    grid-area: bigText
    font-family: 'Circular Std Black'
    text-align: center;
    line-height: 0.8
    color: $primaryColor
    &__container
      position: relative
      width: 38vw
    & span:nth-child(1)
      font-size: 1.13em
      color: $secondaryColor
    & span:nth-child(2)
      font-size: 1.18em
    & span:nth-child(3)
      font-size: 0.52em
      color: $secondaryColor
    & span:nth-child(4)
      font-size: 0.65em
    & span:nth-child(5)
      font-size: 0.90em
  &__buttons
    @media mqTablet
      height: 100%;
      flex-direction: row;
      padding: 0 10%;
      box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
    justify-content: space-between;
    position: relative;
    grid-area: buttons
    background-color: $darkColor;
    width: 100%;
  button
    border-color: $primaryColor
  &__bio
    box-sizing: border-box;
    position: relative;
    grid-area: bio
    background-color:  $darkColor;
    width: 100%;
    text-align: justify;
    padding: 2em 8vw;
    @media mqTablet
      padding: 0
  &__title
    position: absolute
    right: 0
    top: 80px
    display: flex;
    align-items: flex-end;
    height: 55px
    Title(1)
    margin: 0
    transform-origin: 100% 100%
    transform: rotate(-90deg)
    z-index: 1


.footer
  @media mqTablet
    height: auto
    min-height: initial
    padding-bottom: 1em
    text-align: initial
  position: relative;
  background-color: $lightColor
  height: 100vh
  min-height: 600px
  TextContent()
  &__grid
    display: flex
    flex-direction: column
    @media mqTablet
      display: grid
      grid-template-columns: 1fr
      grid-template-columns: 2fr 1fr
      height: 100%
    max-width: 800px
    PageMargin()
    SectionMargin()
    margin: 0 auto
    text-align: center
  &__item-1
    font-size: 10vw
    @media mqTablet
      text-align: left
      font-size: 3.5vw
  &__item-3
    SubTitle(2)
    color: $secondaryColor
    @media mqTablet
      text-align: left
  &__item-2
    a
      color: $text-content
    margin: 10vh 0 30vh 0
    span:last-child
      display: block
      margin: 1em
    @media mqTablet
      margin: 0
#myBlog //Temporal until you make your blog ;)
  display: grid;
  place-items: center
  width: 100vw
  height: 100vh;
  font-size: 10vw;
  color: $primaryColor
  font-family: 'Circular Std Black'
