include mixins.pug
-
  var porfile__text = `I’ve working in a tech company abou years, developing in Javascrip and React. Also i’been shown many courses around the wolrd.
  I’m a very apassionated person and always trhat my cleants vy preslue.
  Get in touch with me at migueelderg@gmail.com.`

doctype html
html
  head
    link(href="https://fonts.googleapis.com/css2?family=Prompt:wght@700&family=Roboto:wght@100;400;700&display=swap" rel="stylesheet")
    link(rel='stylesheet' href='src/css/styles.css')
    meta(meta name="viewport" content="width=device-width, initial-scale=1")
  body
    main
      nav.navbar
        ul
          li logo
          li devacran
        ul
          li proyecto
          li contacto
          li
            a(href='about.html') about me
          li idioma
        ul
          li 
            a#menu(toggle='false') menu
      nav.navbar.navbar--side
        ul
          li proyecto
          li contacto
          li
            a(href='about.html') about me
          li idioma
    block content  
          
