include mixins.pug
-
  var porfile__text = `I’ve working in a tech company abou years, developing in Javascrip and React. Also i’been shown many courses around the wolrd.
  I’m a very apassionated person and always trhat my cleants vy preslue.
  Get in touch with me at migueelderg@gmail.com.`

doctype html
html
  head
    link(href="https://fonts.googleapis.com/css2?family=Prompt:wght@700&family=Roboto:wght@100;400;700&display=swap" rel="stylesheet")
    link(rel='stylesheet' href='src/css/styles.css')
    meta(meta name="viewport" content="width=device-width, initial-scale=1")
  body
    nav
      div.navbar
        ul
          li
            a(href="/") Inicio
          li Blog
        +menu
        ul.navbar__menu-btn
          li 
            a() Idioma 
            a#menu(toggle='false') Menu
    nav.navbar.navbar--side
      +menu
    main
      block mainContent  
    block sections  
    footer
      section.footer
        div.footer__grid
          .footer__item-1.section-title.section-title--dark Get in Touch <br> with me
          .footer__item-2
            span Correo <br> <b>migueeldrg@gmail.com</b> <br>
            span Ubicacion <br> <b>Durango, MX</b> <br>
          .footer__item-3
            span DEVACRAN<br>
          .footer__item-4
            span All rights Reserved
    script(src='src/js/script.js')  
