-
  var porfile__text = `I’ve working in a tech company abou years, developing in Javascrip and React. Also i’been shown many courses around the wolrd.
  I’m a very apassionated person and always trhat my cleants vy preslue.
  Get in touch with me at migueelderg@gmail.com.`
  
section.about-me 
  .about-me__photo: img(src='../images/porfile.jpeg')
  .about-me__description I’m Miguel de la Rosa, often known as ‘devacran’, Fullstack Developer
  .about-me__text=porfile__text
.about-me__title#about about me
