-
  var bio = `

  `
  
main 
  section.about-me
    .about-me__title#about about me 
    .about-me__container 
      .about-me__photo
        .about-me__photo-wrap#myPhoto
          .about-me__photo-overlay
          img(src='../images/porfile.jpeg' )

      .about-me__bigText
        .about-me__bigText-container 
          span HELLO THERE <br/>
          span I AM MIGUEL <br/>
          span ALSO KNOWN AS DEVACRAN <br/>
          span FRONTEND DEVELOPER <br/>
          span & WEB DESIGNER

      .about-me__buttons 
        button.button 
          a(href='https://github.com/devacran/') GitHub
        button.button 
          a(href='https://twitter.com/devacran') Twitter
      .about-me__bio 
        p I’m a creative person non-stop learning, Ilaber 2018 and active Member of Platzi Master.
        |I've worked in many projects developing in Javascript and React, always focused on the user.
        |Also I'm an Engineer and Musician and I love to create media to teach some from what I know.
        |Please feel free to contact me. Would be lovely to hear from you.


      
  
