-
  var porfile__text = `

  `
  
main  
  section.about-me 
    .about-me__photo: img(src='../images/porfile.jpeg')
    .about-me__description Hi, I’m Miguel, often known as @devacran. <br> A Fullstack Developer and Web Designer
    .about-me__text-container
      div.about-me__text
        p I've working in a tech company for many years, developing in Javascript and React. Also I'm Engineer and Muscian and I love to create media to teach some from I know.
        p I’m a very apassionated person and always threat my cleants with pleasure.
        p Please feel free to contact. Would be lovely to hear from you.
      div.about-me__social
        div
          span: img(src='../images/icongithub.png')
          span GitHub
        div
          span: img(src='../images/icontwitter.png')
          span Twitter
  .about-me__title#about about me
