-
  var porfile__text = `

  `
  
main  
  section.about-me 
    .about-me__photo: img(src='../images/porfile.jpeg')
    .about-me__description I’m Miguel de la Rosa, often known as ‘devacran’, Fullstack Developer
    .about-me__text
      p I've working in a tech company about many years, developing in Javascrip and React. Also i'm engineer and muscian and i love to create media to teach some from i know.
      p I’m a very apassionated person and always threat my cleants with pleasure.
      p So, wanna talk?
  .about-me__title#about about me
