footer
  section.footer
    div.footer__grid
      .footer__item-1.section-title.section-title--dark Get in touch <br> with me.
      .footer__item-2
        span Correo <br> <b>migueeldrg@gmail.com</b> <br>
        span Ubicacion <br> <b>Durango, MX</b> <br>
      .footer__item-3
        span DEVACRAN<br>
      .footer__item-4
        span All rights Reserved
