include mixins.pug
nav
  div.navbar
    ul
      li
        span.navbar__logo   
          a(href="#/"): img(src='../images/logo.svg')
      

      li Blog
    +menu
    ul.navbar__menu-btn
      li 
        a() Idioma 
        a#menu(toggle='false') Menu
nav.navbar.navbar--side
  +menu
