include mixins.pug
main
  section.main-section
    div.hero
      .hero__container#hero
        div.right-border.expandHeight
        h1
          span Hello, I'm <br/>
          span.hero__name 
            a(href='#/about'): span.miguel Miguel 
            span.delarosa de la Rosa <br/>
        h2.subtitle Frontend Developer
        .hero__buttons 
          span
            a(href='https://linked.in/in/devacran'): img(src='../images/linkedin1.svg')
          span
            a(href='https://github.com/devacran'): img(src='../images/github1.svg')
        
section.portfolio#projects
  h1.section-title.section-title--dark I love coding and there are some work i've made. 
  .project.unu
    .project__wrap
      .project__container
        .project__left
          .project__left-wrap
            .project__logo
              img(src='../images/Unu.png')
            h2.project__title Your event app
            .border-bottom 
            .project__description Unu is an event website builder. It was built in collaboration with others amazing enginners members of Platzi Master. <br/>
              | I was responsible for frontend development and api integration.
            button.button.project__button 
              a(href='https://unu.vercel.app/' target="_blank") View Project
        .project__right
          .project__image 
            img(src='../images/unuApp.svg')
  .project.dailysun
    .project__wrap
      .project__container
        .project__left
          .project__left-wrap
            .project__logo
              img(src='../images/dailysun2.png')
            h2.project__title Weather for everyone
            .border-bottom 
            .project__description As a personal project, Dailysun is a weather portal focused in accesibility. <br/>
              | I built this app beautiful in JS Vanilla and Sass. 
            button.button.project__button 
              a(href='https://dailysun.devacran.vercel.app/' target="_blank") View Project
        .project__right
          .project__image 
            img(src='../images/dailysunApp.svg')
    .project-grid
      h1.section-title.section-title--dark Other projects 
      .project-grid__container 
        +project-card("My Portfolio", "Javascript/Stylus", "https://devacran.vercel.app", "pr1.png")
        +project-card("Pokedom", "React", "https://github.com/devacran/pokemon-app", "pr2.png")
        +project-card("SM Dashboard", "Html/Stylus", "https://devacran.github.io/Social-Media-Dashboard/", "pr3.png")
        +project-card("Restaurant Store", "Javascript/Stylus", "https://restaurant-landing-page.vercel.app", "pr4.png")
        +project-card("Web Design Agency", "Pug/Stylus", "https://darclick.com", "pr5.png")
        +project-card("Rick & Morty App", "React", "https://github.com/devacran/rick-and-morty-finder", "pr6.png")
      div.project-grid__seemore 
        span See more on 
        button.button.project__button 
          a(href='https://github.com/devacran/' target="_blank") GitHub
   
section.skills
  .skills__wrap
    h1.section-title Relevant Skills
    h2.section-subtitle Here is a selection of relevant technologies that I have experience with
    .skills__icons
      each skill in skills 
        span
          img(src=skill.img)
          span=skill.name
footer
  section.footer
    div.footer__grid
      .footer__item-1.section-title.section-title--dark Get in touch <br> with me
      .footer__item-2#footer_contact
        span Don't be shy <br> <b><a href='mailto:migueeldrg@gmail.com'>migueeldrg@gmail.com</a></b> <br>
        span Location <br> <b>Durango, MX</b> <br>
      .footer__item-3
        span DEVACRAN<br>
      .footer__item-4
        span All Rights Reserved
