include mixins.pug
main
  section.main-section
    div.hero
      .hero__container
        div.right-border.expandHeight
        span 
          p HELLO! <br><b>I'M MIGUEL DE LA ROSA</b> <br> WEB DEVELOPER
          span
            p Apasionated about technology and music        
section.portfolio
  .section-title.section-title--dark Featured Work
  .portfolio__proyect-title
    span
      button()#backward.portfolio__button
        img(src='../images/backwards.png')
    span Platzi Video
    span
      button()#forward.portfolio__button
        img(src='../images/forwards.png')
  +carousel
  .portfolio__project-description
    span Proyecto hecho con stylus, HTML y CSS
section.skills
  .section-title Relevant Skills
  .section-subtitle
    span 
    span WEB DEVELOP
    span I work with the best tecnologies
  .skills__icons
    span: img(src='../images/angular.png')
    span: img(src='../images/angular.png')
    span: img(src='../images/angular.png')
    span: img(src='../images/angular.png')
    span: img(src='../images/angular.png')
    span: img(src='../images/angular.png')
    span: img(src='../images/angular.png')
    span: img(src='../images/angular.png')
  
