include mixins.pug
main
  section.main-section
    div.hero
      .hero__container
        div.right-border.expandHeight
        span 
          p HELLO! <br><b>I'M MIGUEL DE LA ROSA</b> <br> WEB DEVELOPER
          span
            p Apasionated about technology and music        
section.portfolio#projects
  .section-title.section-title--dark Featured Work
  .portfolio__proyect-title
    span
      button()#backward.portfolio__button
        img(src='../images/backwards.png')
    span#projectTitle Social Media Dashboard
    span
      button()#forward.portfolio__button
        img(src='../images/forwards.png')
  +carousel
section.skills
  .section-title Relevant Skills
  .section-subtitle
    span 
    span FRONTEND
    span I work with the best tecnologies
  .skills__icons
    each skill in skills 
      span
        img(src=skill.img)
        span=skill.name
footer
  section.footer
    div.footer__grid
      .footer__item-1.section-title.section-title--dark Get in Touch <br> with me
      .footer__item-2
        span Correo <br> <b>migueeldrg@gmail.com</b> <br>
        span Ubicacion <br> <b>Durango, MX</b> <br>
      .footer__item-3
        span DEVACRAN<br>
      .footer__item-4
        span All rights Reserved
