@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
: 'Roboto',
sans-serif,
SubTitle($color) {
  margin-bottom: 1em;
  font-size: 28px;
  font-family: font-family;
}
.expandHeight {
  animation: expandHeight 1s forwards;
  -webkit-clip-path: inset(100% 0px);
          clip-path: inset(100% 0px);
  opacity: 0;
}
@keyframes expandHeight {
  to {
    -webkit-clip-path: inset(0px 0px);
            clip-path: inset(0px 0px);
    opacity: 100;
  }
}
.expandHeight {
  animation: expandHeight 1s forwards;
  -webkit-clip-path: inset(100% 0px);
          clip-path: inset(100% 0px);
  opacity: 0;
}
body {
  margin: 0 auto;
  color: #848484;
  background-color: #171717;
}
ul {
  display: flex;
  list-style: none;
  padding: 0;
}
a {
  color: #e5e4c0;
  text-decoration: none;
  cursor: pointer;
}
nav {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #171717;
  position: fixed;
  z-index: 1;
}
main {
  max-width: 1080px;
  margin: 0 auto;
}
.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50px;
  padding: 0 15px;
  width: 100%;
  max-width: 1080px;
  background-color: #171717;
  color: #e5e4c0;
  box-sizing: border-box;
  z-index: 4;
}
.navbar--side {
  display: block;
  background-color: #171717;
  position: fixed;
  left: calc(100vw - 100px);
  top: 50px;
  z-index: -1;
  width: 70px;
  height: 100vh;
  box-sizing: content-box;
}
@media only screen and (min-width: 720px) {
  .navbar--side {
    display: none;
  }
}
.navbar--side ul {
  display: block;
  text-align: end;
  margin: 0;
}
.navbar--side ul li {
  margin: 1em 0;
}
.navbar__menu-btn a:first-child {
  display: none;
}
@media only screen and (min-width: 720px) {
  .navbar__menu-btn a:first-child {
    display: block;
  }
}
@media only screen and (min-width: 720px) {
  .navbar__menu-btn a:last-child {
    display: none;
  }
}
@media only screen and (min-width: 720px) {
  .navbar {
    grid-template-columns: 1fr 2fr 1fr;
  }
}
.navbar ul:first-child {
  justify-content: flex-start;
}
.navbar ul:first-child li:last-child {
  margin-left: 1em;
}
.navbar ul:nth-child(2) {
  display: none;
  justify-content: space-evenly;
}
@media only screen and (min-width: 720px) {
  .navbar ul:nth-child(2) {
    display: flex;
  }
}
.navbar ul:last-child {
  justify-content: flex-end;
}
.right-border {
  height: auto;
  width: 3px;
  margin-right: 0.5em;
  background-color: #e5e4c0;
}
.main-section {
  padding: 0 15px;
  padding-top: 50px;
  background-color: #171717;
  color: #e5e4c0;
  height: 100vh;
}
.hero {
  margin-bottom: 1em;
  font-size: 28px;
  font-family: 'Roboto';
  color: #e5e4c0;
  margin: 30vh 0;
}
.hero p {
  margin-top: 0;
  margin-bottom: 0.5em;
}
.hero p:last-child {
  color: #848484;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}
.hero__container {
  display: flex;
}
.section-title {
  margin-bottom: 1em;
  text-align: center;
  font-size: 36px;
  font-family: 'Prompt';
  color: #e5e4c0;
}
.section-title--dark {
  color: #171717;
}
.section-subtitle {
  margin-bottom: 1em;
  font-size: 28px;
  font-family: 'Roboto';
  color: #e5e4c0;
  font-weight: 900;
}
.section-subtitle span:first-child {
  display: inline-block;
  float: left;
  width: 45%;
  margin-top: 0.5em;
  border-bottom: 2px solid #e5e4c0;
}
.section-subtitle span:last-child {
  display: block;
  text-align: right;
  color: #848484;
  font-size: 18px;
  font-weight: 400;
  font-size: 18px;
}
.section-subtitle--dark {
  color: #171717;
}
.portfolio {
  padding: 0 15px;
  padding-top: 50px;
  background-color: #efefef;
  position: relative;
  overflow: hidden;
  height: 500px;
}
.carousel {
  top: 150px;
  left: 0;
  right: 0;
  position: absolute;
}
.carousel__btn {
  position: absolute;
  z-index: 1;
  right: 50%;
}
.carousel__overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(21,21,21,0.64);
  z-index: 2;
}
.carousel__central {
  margin: auto;
  height: 70vw;
  background-color: #3f51b5;
  -webkit-clip-path: inset(0 10vw);
          clip-path: inset(0 10vw);
}
@media only screen and (min-width: 320px) {
  .carousel__central {
    max-height: 400px;
    max-width: 572px;
  }
}
@media only screen and (min-width: 1000px) {
  .carousel__central {
    -webkit-clip-path: inset(0 57px);
            clip-path: inset(0 57px);
  }
}
.carousel__strip {
  display: flex;
  height: 100%;
  width: -webkit-fit-content;
  width: fit-content;
  position: relative;
  left: -71%;
  transition: 1s;
}
.carousel__strip div {
  height: 100%;
  width: 80.5vw;
  max-width: 459.99999999999994px;
  margin: 0 auto;
}
.carousel__strip div img {
  width: 100%;
  height: -webkit-fill-available;
  object-fit: fill;
}
.carousel__container {
  height: 42vw;
  max-height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #f0f;
  z-index: 0;
}
.carousel__strip-small {
  left: -25%;
}
@media only screen and (min-width: 1000px) {
  .carousel__strip-small {
    left: -178px;
  }
}
.carousel__strip-small div {
  width: 50.4vw;
}
.skills {
  padding: 0 15px;
  padding-top: 50px;
  height: calc(100vh - 50px);
  max-width: 1080px;
  margin: 0 auto;
  background-color: #171717;
}
.skills__icons {
  margin-top: 150px;
  text-align: center;
}
.skills__icons img {
  width: 42px;
  height: 42px;
}
.skills__icons span {
  display: inline-block;
  margin: 20px;
}
.about-me {
  display: grid;
  grid-template-columns: 1fr 2fr 50px;
  grid-template-rows: 360px;
  grid-gap: 0.5em;
  height: 100vh;
  background-color: #171717;
  position: relative;
}
.about-me__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-me__description {
  margin-bottom: 1em;
  font-size: 28px;
  font-family: 'Roboto';
  color: #e5e4c0;
  font-weight: 100;
  margin: auto 0;
  text-align: right;
}
.about-me__text {
  color: #848484;
  font-size: 18px;
  font-weight: 400;
  margin: 1em 1em;
  grid-column-start: 1;
  grid-column-end: 4;
}
.about-me__title {
  position: absolute;
  right: 0;
  top: 0px;
  height: 50px;
  margin-bottom: 1em;
  text-align: center;
  font-size: 36px;
  font-family: 'Prompt';
  color: #e5e4c0;
  margin: 0;
  padding: 0 70px;
  transform-origin: 100% 100%;
  transform: rotateZ(-90deg);
}
@keyframes expandHeight {
  to {
    -webkit-clip-path: inset(0px 0px);
            clip-path: inset(0px 0px);
    opacity: 100;
  }
}
