@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
: 'Roboto',
sans-serif,
SubTitle($color) {
  margin-bottom: 1em;
  font-size: 28px;
  font-family: font-family;
}
.expandHeight {
  animation: expandHeight 1s forwards;
  -webkit-clip-path: inset(100% 0px);
          clip-path: inset(100% 0px);
  opacity: 0;
}
@keyframes expandHeight {
  to {
    -webkit-clip-path: inset(0px 0px);
            clip-path: inset(0px 0px);
    opacity: 100;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.expandHeight {
  animation: expandHeight 1s forwards;
  -webkit-clip-path: inset(100% 0px);
          clip-path: inset(100% 0px);
  opacity: 0;
}
body {
  max-width: 1080px;
  margin: 0 auto;
}
ul {
  display: flex;
  list-style: none;
  padding: 0;
}
main {
  position: relative;
}
.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 0 15px;
  background-color: #171717;
  color: #e5e4c0;
  z-index: 3;
}
@media only screen and (min-width: 720px) {
  .navbar {
    grid-template-columns: 1fr 2fr 1fr;
  }
}
.navbar ul:first-child {
  justify-content: flex-start;
}
.navbar ul:first-child li:last-child {
  margin-left: 1em;
}
.navbar ul:nth-child(2) {
  display: none;
  justify-content: space-evenly;
}
@media only screen and (min-width: 720px) {
  .navbar ul:nth-child(2) {
    display: flex;
  }
}
.navbar ul:last-child {
  justify-content: flex-end;
}
.right-border {
  height: auto;
  width: 3px;
  margin-right: 1em;
  background-color: #e5e4c0;
}
.main-section {
  padding: 0 15px;
  padding-top: 50px;
  background-color: #171717;
  color: #e5e4c0;
  height: 100vh;
}
.hero {
  margin: 30vh 0;
}
.hero__container {
  display: flex;
}
.section-title {
  margin-bottom: 1em;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  color: #e5e4c0;
}
.portfolio {
  padding: 0 15px;
  padding-top: 50px;
  background-color: #efefef;
  position: relative;
  overflow: hidden;
  height: 100vw;
}
.carousel {
  top: 150px;
  left: 0;
  right: 0;
  position: absolute;
}
.carousel__overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(21,21,21,0.64);
  z-index: 2;
}
.carousel__central {
  margin: auto;
  height: 70vw;
  background-color: #3f51b5;
  -webkit-clip-path: inset(0 10vw);
          clip-path: inset(0 10vw);
}
@media only screen and (min-width: 320px) {
  .carousel__central {
    max-height: 400px;
    max-width: 572px;
  }
}
@media only screen and (min-width: 1000px) {
  .carousel__central {
    -webkit-clip-path: inset(0 57px);
            clip-path: inset(0 57px);
  }
}
.carousel__strip {
  display: flex;
  height: 100%;
  width: -webkit-fit-content;
  width: fit-content;
  position: relative;
  left: -71%;
  transition: 1s;
}
.carousel__strip div {
  height: 100%;
  width: 80.5vw;
  max-width: 459.99999999999994px;
  margin: 0 auto;
}
.carousel__strip div img {
  width: 100%;
  height: -webkit-fill-available;
  object-fit: fill;
}
.carousel__container {
  height: 42vw;
  max-height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #f0f;
  z-index: 0;
}
.carousel__strip-small {
  left: -25%;
}
@media only screen and (min-width: 1000px) {
  .carousel__strip-small {
    left: -178px;
  }
}
.carousel__strip-small div {
  width: 50.4vw;
}
.skills {
  padding: 0 15px;
  padding-top: 50px;
  background-color: #171717;
}
@keyframes expandHeight {
  to {
    -webkit-clip-path: inset(0px 0px);
            clip-path: inset(0px 0px);
    opacity: 100;
  }
}
