@import './__global.styl'

$primaryFont = 'Roboto'
$secondaryFont ='Prompt'

$primaryColor = #E5E4C0
$secondaryColor = #96946E
$lightColor = #EFEFEF
$darkColor = #171717

$text-content = #848484
$navbarHeight = 50px


TextContent()
  color: $text-content
  font-size: 18px
  font-weight: 400

SubTitle($color)
  margin-bottom: 1em
  font-size: 28px
  font-family: $primaryFont
  if $color == '1'
    color: $primaryColor
  if $color == '2'
    color: $darkColor

PageMargin()
  padding: 0 15px

SectionMargin()
  padding-top: $navbarHeight

.expandHeight
    animation: expandHeight 1s forwards
    clip-path: inset(100% 0px)
    opacity: 0

@keyframes expandHeight{
  to{
    clip-path: inset(0px 0px)
    opacity: 100
  }
}

mobileWidth = 320px
mobilePotraitWidth = 636px
tabletWidth = 720px
tabletPotraitWidth = 840px
deskWidth = 1000px

mqMobile = "only screen and (min-width: " + mobileWidth + ")"
mqTablet     = "only screen and (min-width: " + tabletWidth + ")"
mqDesk     = "only screen and (min-width: " + deskWidth + ")"
mqTabletPotrait = "only screen and (min-width: " + tabletPotraitWidth + ")"
mqMobilePotrait = "only screen and (max-width: " + mobilePotraitWidth + ")"



Title($color)
  margin-bottom: 1em
  text-align: center
  font-size: 36px
  font-family: $secondaryFont
  if $color == '1'
    color: $primaryColor
  if $color == '2'
    color: $darkColor

body
  max-width: 1080px
  margin: 0 auto
  color: $text-content
ul
  display: flex
  list-style: none
  padding: 0

main
  position: relative
  overflow: hidden

.navbar
  display: grid
  grid-template-columns: 1fr 1fr
  position: fixed
  top: 0
  left: 0
  right: 0
  height: $navbarHeight
  PageMargin()
  background-color: $darkColor
  color: $primaryColor
  z-index: 3
  @media mqTablet
    grid-template-columns: 1fr 2fr 1fr
  ul:first-child
    li:last-child
      margin-left: 1em
    justify-content: flex-start
  ul:nth-child(2)
    display: none
    justify-content: space-evenly
    @media mqTablet
      display: flex
  ul:last-child
    justify-content: flex-end

.right-border
  height: auto
  width: 3px
  margin-right: 0.5em
  background-color: $primaryColor

.main-section
  PageMargin()
  SectionMargin()
  background-color: $darkColor
  color: $primaryColor
  height: 100vh

.hero
  SubTitle(1)
  margin: 30vh 0
  p
    margin-top: 0
    margin-bottom: 0.5em
  p:last-child
    TextContent()
    margin-bottom: 0
  &__container
    display: flex

.section-title
  Title(1)
  &--dark
    color: $darkColor
.section-subtitle
  SubTitle(1)
  font-weight: 900
  span:first-child
    display: inline-block
    float: left
    width: 48%
    margin-top: 0.5em
    border-bottom: 2px solid $primaryColor
  span:last-child
    display: block
    text-align: right
    TextContent()
    font-size: 18px

  &--dark
    color: $darkColor
.portfolio
  PageMargin()
  SectionMargin()
  background-color: $lightColor
  position: relative
  overflow: hidden
  height: 500px

//carousel para imagenes de 5:3
$carouselHeight = 100vw * 0.7
$carouselContainerHeight = $carouselHeight * 0.6 //modificar el alto de la imagen
.carousel
  top: 150px
  left: 0
  right: 0
  position: absolute
  &__overlay
    position: absolute;
    left: 0
    right: 0
    bottom: 0
    top: 0
    background-color: rgba(21, 21, 21, 0.64)
    z-index: 2
  &__central
    margin: auto;
    height: $carouselHeight
    background-color: #3F51B5;
    clip-path: inset(0 10vw) //modificar el ancho de la imagen
    @media mqMobile
      max-height: 400px
      max-width: 572px
    @media mqDesk
      clip-path: inset(0 57px)

  &__strip
    display: flex
    height: 100%
    width: fit-content
    position: relative;
    left: -71%; //para centrar la tira de imagenes
    transition: 1s
    div
      height: 100%
      width: $carouselHeight * 1.15
      max-width: 400px * 1.15
      margin: 0 auto
      img
        width: 100%
        height: -webkit-fill-available
        object-fit: fill
  &__container
    height: $carouselContainerHeight
    max-height: 400px
    position: absolute;
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto
    background-color: #f0f;
    z-index: 0

.carousel__strip-small
  left: -25%
  @media mqDesk
    left: -178px
  div
    width: $carouselContainerHeight * 1.2
.skills
  PageMargin()
  SectionMargin()
  height: "calc(100vh - %s)" %($navbarHeight) //anota esto porque no lo sabia
  background-color: $darkColor
  &__icons
    margin-top: 150px
    text-align: center
    img
      width: 42px
      height: 42px
    span
      display: inline-block;
      margin: 20px

.about-me
  display: grid
  grid-template-columns: 1fr 2fr 50px
  grid-template-rows: 360px
  grid-gap: 0.5em
  margin-top: $navbarHeight
  height: 100vh
  background-color: $darkColor
  position: relative
  &__photo
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__description
    SubTitle(1)
    margin: auto 0
    text-align: right
  &__text
    margin: 0 1em
    grid-column-start: 1
    grid-column-end: 4
  &__title
    position: absolute
    right: 0
    top: 0px
    height: 50px
    Title(1)
    margin: 0
    padding: 0 70px;
    transform-origin: 100% 100%
    transform: rotateZ(-90deg)
